.CheckoutImg {
    background-image: url('https://images.unsplash.com/photo-1527419539688-f3e0edc17001?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=5bb9bd3398bcf66122ffcf6521390aa2&auto=format&fit=crop&w=1950&q=80');
    background-size: cover;
    background-position: center no-repeat;
}

.cart{
    display: flex;
    justify-content: center;
}

.cart_body{
    color: #fff;
    justify-content: center;
    padding-top: 5%;
    background-image: url(https://images.unsplash.com/photo-1527419539688-f3e0edc17001?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=5bb9bd3398bcf66122ffcf6521390aa2&auto=format&fit=crop&w=1950&q=80);
    height: 120vh;
    width: 100%;
    margin-top: 0vw;
    margin-bottom: 0vw;
    font-size: x-large;
    text-shadow: .5px .5px .5px black;
}

.StripeCheckout{
    background: none !important;
}

.StripeCheckout >span:nth-child(1){
    border: none !important;
    margin: auto !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    cursor: pointer, auto !important;
    background: rgb(144, 145, 144) !important;
    height: 50px !important;
    width: 200px !important;
    border-radius: 5px !important;
    font-weight: bold !important;
    font-size: 25px !important;
    color: #fff !important;
    cursor: pointer;
}
/* 
.StripeCheckout >span:nth-child(1):hover{
    background: rgb(115, 139, 115) !important;
}  */

.home {
    border: none;
    background: none;
    display: flex;
    cursor: pointer;
    color: #fff;
    font-size: xx-large;
    margin-left: 30px;
    transition: transform 0.3s;
  }
  
  .home:hover {
    transform: translateX(10px)
  }
