
.body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


.reserve {
  margin: 30px; 
  font-size: 2em; 
  border: none; 
  color: white; 
  background-color: transparent;
  cursor: pointer;
  position: relative;
  letter-spacing: 0px;
  padding: 10px;
}

.reserve:hover:before, .reserve:hover:after {
  height: 100%; 
  width: 100%;
}

.reserve:before {
  content: '';
  height: 20px;
  width: 20px;
  border: 2px solid white;
  border-color: black white transparent transparent;
  text-shadow: 10px 10px 10px black;
  position: absolute;
  top: 0px;
  right: 0px;
  transition-property: height, width;
  transition-duration: 0.4s;
  
}

.reserve:after {
  content: '';
  height: 20px;
  width: 20px;
  border: 2px solid white;
  position: absolute;
  border-color:transparent transparent black white;
  bottom: 0px;
  left: 0px;
  transition: width 0.3s;
  transition-property: height, width;
  transition-duration: 0.4s;
}

.select {
  width: 125px;
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 350;
  font-size: 20px;
}

resbox {
  background-color: rgb(237, 236, 236); 
  height: 100vh;
}

.userRexBox {
  background-image: url('./assets/view1 copy.jpg');
  height: 100%;
  background-position: center;
  background-size: cover;
}

.newResBox {
  background-image: url('./assets/night2.jpg');
  height: 100%;
  background-position: bottom;
  background-size: cover;
}

.displayPic {
  background-image: url('./assets/aerial.png');
  height: 100%;
  background-position: center;
  background-size: cover;
}


